/* Genel stil ayarları */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Grid container ayarları */
.app-page .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px); /* Her bir öğe 300px genişliğinde olacak */
  gap: 20px;
  justify-content: center; /* Öğeleri yatayda ortala */
  margin: 20px;
}

/* Grid item stili */
.app-page .grid-item {
  width: 300px; /* Sabit genişlik */
  /* İsteğe bağlı olarak sabit yükseklik ekleyebilirsiniz */
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column; /* İçerikleri dikeyde hizalamak için */
}

/* İçeriklerin taşmasını önlemek ve düzgün hizalamak için */
.app-page .grid-item p {
  flex-grow: 1;
  overflow: hidden;
}

.app-page .grid-item .details {
  flex-shrink: 0;
}

/* Detayların varsayılan olarak gizlenmesi */
.app-page .grid-item .details {
  display: none;
  margin-top: 15px;
}

/* Aktif öğede detayların gösterilmesi */
.app-page .grid-item.active .details {
  display: block;
}

/* Logo stili */
.project-logo {
  max-width: 80px;
  max-height: 80px;
  display: block;
  margin: 0 auto 10px auto;
}

/* Başlık stili */
.app-page .grid-item h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}

/* Etiketlerin stili */
.app-page .grid-item .tags span {
  background-color: #e0e0e0;
  color: #555;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 0.85em;
}

/* Arama kutusu stili */
#searchInput {
  width: 90%;
  padding: 12px 20px;
  margin: 20px auto;
  box-sizing: border-box;
  font-size: 16px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* GitHub info stili */
.github-info {
  text-align: center;
  margin-top: 10px;
}

.github-info a {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  background-color: #0366d6;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9em;
}

.github-info a:hover {
  background-color: #024b9b;
}

.github-info img {
  vertical-align: middle;
  margin-left: 5px;
}

/* Hover efekti */
.app-page .grid-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Responsive tasarım için medya sorguları */
@media (max-width: 600px) {
  .app-page .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .app-page .grid-item {
    width: 100%;
    /* Yüksekliği içeriğe göre ayarlanacak */
  }
}