.app-page .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ekrana göre 3 öğeyi ayarla */
  gap: 20px;
  margin: 20px;
}

.app-page .grid-item {
  background: #333; /* Arka plan rengi */
  color: #fff; /* Yazı rengi */
  padding: 20px; /* İç boşluk */
  border-radius: 8px; /* Köşeleri yuvarlatır */
}

.app-page .grid-item h3 {
  margin-top: 0;
}

.app-page .grid-item span {
  background-color: #666;
  border-radius: 3px;
  padding: 3px 6px;
  margin-right: 5px;
}

.project-logo {
  max-width: 100px; /* Logonun maksimum genişliği */
  max-height: 100px; /* Logonun maksimum yüksekliği */
  display: block;
  margin: 0 auto 10px auto; /* Logoyu ortala ve altına boşluk bırak */
}