.app-page .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Her satırda 3 eleman olacak */
  gap: 20px; /* Elemanlar arasında boşluk bırakır */
  margin: 20px;
}

.app-page .grid-item {
  background: #333; /* Arka plan rengi */
  color: #fff; /* Yazı rengi */
  padding: 20px; /* İç boşluk */
  border-radius: 8px; /* Kenarları yuvarlatır */
}

.app-page .grid-item h3 {
  margin-top: 0;
}

.app-page .grid-item span {
  background-color: #666;
  border-radius: 3px;
  padding: 3px 6px;
  margin-right: 5px;
}